dagster
dagster-gcp
dagster-dbt==0.13.13
dagstermill==0.13.13
dagit
dbt-bigquery
pyarrow
pandas
pandas-gbq
numpy
spacy>3.0.0
spacy-streamlit
textacy
requests
SQLAlchemy
psycopg2
fastapi
python-dotenv
sklearn
panel
holoviews
pyviz_comms
jupyter-bokeh
fire
